extends ../adminLayout.pug

block content

  h3#admin_tshirts_count Bestellte und bezahlte T-Shirts:
  table
    thead
      tr
        th Size
        th Model
        th Amount
        th Category
    tbody
      each p in orders
        tr.shirt-line
          td=p.size
          td=p.model
          td=p.amount
          td=p.category



  h3 Zahlungsmoral (Anmeldungen)

  table
    thead
      th Bezahlt
      th Nicht bezahlt
    tbody
      td #{confirmed[0].count}
      td #{unconfirmed[0].count}

  h3 Coupon Codes
    form(action="admin/couponcodes")
      input(type='hidden', name='_csrf', value=_csrf)
      button#goto-couponcodes.primary.button-primary.pace(type='submit') Coupon Codes

  h3 Registrierung schlie&szlig;en
    form(method='POST', action='admin/close-registration')
      input(type='hidden', name='_csrf', value=_csrf)
      button#close-registration.primary.button-primary.pace(type='submit') Registrierung schlie&szlig;en

  h3 Startnummern generieren
      form(method='GET', action='admin/generate-start-numbers')
        input(type='hidden', name='_csrf', value=_csrf)
        button#generate-start-numbers.primary.button-primary.pace(type='submit') Startnummern generieren
