extends ../adminLayout.pug

block content
  .row
    input#labels(type='hidden' value=JSON.stringify(labels))
    input#registrationsData(type='hidden' value=JSON.stringify(registrationsData))
    input#confirmationsData(type='hidden' value=JSON.stringify(confirmationsData))
    .eleven.columns
      canvas#registrationsCtx(height='200')

  .row
    input#shirts(type='hidden' value=JSON.stringify(shirts))
    .five.columns
      canvas#regularShirtsCtx(height='200')
    .five.columns
      canvas#slimShirtsCtx(height='200')

  .row
    input#participants(type='hidden' value=JSON.stringify(participants))
    .eleven.columns
      canvas#participantsCtx(height='200')

  h3 Funktionen:
  .row
    .four.columns.padding
      form(action='admin/couponcodes')
        input(type='hidden', name='_csrf', value=_csrf)
        button#goto-couponcodes.primary.button-primary.pace(type='submit') Coupon Codes
    .four.columns.padding
      form(method='POST', action='admin/close-registration')
        input(type='hidden', name='_csrf', value=_csrf)
        button#close-registration.primary.button-primary.pace(type='submit') Registrierung schlie&szlig;en

  form(method='POST', action='admin/generate-on-site-participants')
    .row
      .eight.columns
        input(type='hidden', name='_csrf', value=_csrf)
        h4 Vor-Ort Registrierung
    .row
      .eight.columns
        label(for='amountOnSite') Anzahl der zusätzlichen blanco Registrierungen:
          input#amountOnSite(name='amountOnSite', required=true, value='0')
        span#currentNumOfOnSite Es wurden bereits #{numBlancParticipants} blanco Registrierungen generiert. Um weitere zu generieren, die Anzahl in das Feld eintragen und auf 'Erzeugen' klicken.
      .two.columns
        button#generate-on-site-participants.primary.button-primary.pace(type='submit') Erzeugen
  .row
    form(method='GET', action='admin/generate-start-numbers')
      .eight.columns
        input(type='hidden', name='_csrf', value=_csrf)
        h4 Startnummern für registrierte Teilnehmer
      .two.columns
        button#generate-start-numbers.primary.button-primary.pace(type='submit') Generieren
      .two.columns
        a(href='/pdf/startnumbers') download


  script(src='/javascript/usageChart.js')
  script(src='/javascript/shirtsChart.js')
  script(src='/javascript/participantsChart.js')
