extends ../adminLayout.pug

block content
  .row
    input#labels(type='hidden' value=JSON.stringify(labels))
    input#registrationsData(type='hidden' value=JSON.stringify(registrationsData))
    input#confirmationsData(type='hidden' value=JSON.stringify(confirmationsData))
    .eleven.columns
      canvas#registrationsCtx(height='200')

  .row
    input#shirts(type='hidden' value=JSON.stringify(shirts))
    .five.columns
      canvas#normalShirtsCtx(height='200')
    .five.columns
      canvas#slimShirtsCtx(height='200')

  .row
    input#participants(type='hidden' value=JSON.stringify(participants))
    .eleven.columns
      canvas#participantsCtx(height='200')

  h3 Funktionen:
  .row
    .four.columns.padding
      form(action="admin/couponcodes")
        input(type='hidden', name='_csrf', value=_csrf)
        button#goto-couponcodes.primary.button-primary.pace(type='submit') Coupon Codes
    .four.columns.padding
      form(method='POST', action='admin/close-registration')
        input(type='hidden', name='_csrf', value=_csrf)
        button#close-registration.primary.button-primary.pace(type='submit') Registrierung schlie&szlig;en

  .row
    form(method='GET', action='admin/generate-start-numbers')
      .eight.columns
        input(type='hidden', name='_csrf', value=_csrf)
        h4 Startnummern f체r registrierte Teilnehmer
      .two.columns
        button#generate-start-numbers.primary.button-primary.pace(type='submit') Generieren

  form(method='POST', action='admin/generate-on-site-start-numbers')
    .row
      .eight.columns
        input(type='hidden', name='_csrf', value=_csrf)
        h4 Alle Startnummern f체r Vor-Ort-Registrierungen
    .row
      .eight.columns
        label(for='amountOnSite') Anzahl der zus채tzlichen blanco Startnummern:
          input#amountOnSite(name='amountOnSite', required=true, value='0')
        span#currentNumOfOnSite Es wurden bereits #{numBlancParticipants} blanco Startnummern generiert. Um weitere Startnummern zu generieren, die Anzahl in das Feld eintragen und auf "Alle Startnummern f체r Vor-Ort-Registrierungen generieren" klicken.
      .two.columns
        button#generate-on-site-start-numbers.primary.button-primary.pace(type='submit') Generieren

  script(type='text/javascript').
    var labels = JSON.parse(document.getElementById('labels').value);
    var rData = JSON.parse(document.getElementById('registrationsData').value);
    var cData= JSON.parse(document.getElementById('confirmationsData').value);

    var ctx = document.getElementById('registrationsCtx');

    var registrations = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [
          {
            data: rData,
            label: 'Registrierung/Tag',
            fill: false,
            borderColor: 'rgb(212, 64, 52)',
            backgroundColor: 'rgb(212, 64, 52)'
          },
          {
            data: cData,
              label: 'Bezahlung/Tag',
              fill: false,
              borderColor: 'rgb(90,71,58)',
              backgroundColor: 'rgb(90,71,58)'
            }],
          labels: labels
        },
        options: {
          title: {
            display: true,
            fontSize: 15,
            text: 'Verlauf der Registrierung'
          }
        }
      });

  script(type='text/javascript').
    var shirts = JSON.parse(document.getElementById('shirts').value);

    var slimCtx = document.getElementById('slimShirtsCtx');
    var normalCtx = document.getElementById('normalShirtsCtx');

    var s = new Chart(slimCtx, {
      type: 'bar',
      data: {
        labels: ["XS", "S", "M", "L"],
        datasets: [
            {
              label: "Bestellt & bezahlt",
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1,
              data: [65, 59, 80, 81, 56, 55, 40],
            }
          ]
        },
        options: {
          title: {
            display: true,
            fontSize: 15,
            text: 'Tallierte T-Shirts'
          }
        }
      });

      var n = new Chart(normalCtx, {
        type: 'bar',
        data: {
          labels: ["XS", "S", "M", "L"],
          datasets: [
            {
              label: "Bestellt & bezahlt",
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1,
              data: [65, 59, 80, 81, 56, 55, 40],
            }
          ]
        },
        options: {
          title: {
            display: true,
            fontSize: 15,
            text: 'Normale T-Shirts'
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
                stepSize: 10
              }
            }]
          }
        }
      });

  script(type='text/javascript').
    var participants = JSON.parse(document.getElementById('participants').value);

    var participantsCtx = document.getElementById('participantsCtx');

    var pChart = new Chart(participantsCtx, {
      type: 'bar',
      data: {
        labels: ["Bezahlt", "Nicht bezahlt"],
        datasets: [
            {
              label: "Anzahl",
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)'
              ],
              borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)'
              ],
              borderWidth: 1,
              data: [65, 59],
            }
          ]
        },
        options: {
          title: {
            display: true,
            fontSize: 15,
            text: 'Zahlungsmoral (Anmeldungen)'
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
                stepSize: 10
              }
            }]
          }
        }
      });
