extends ../adminLayout.pug

block content
  - let new_block = blocks.length
  h3 Startblocks:

  form#starttime(method='POST', action='after')
    each block,index in blocks
      - let block_number = index + 1
      .row
        input(type="text", size="7", name="block["+block.id +"][color]" value=block.color id="color"+block_number)
        input(type="text", size="20", name="block["+block.id +"][name]" value=block.name id="name"+block_number)
        span :
        input(type="text", size="2", name="block["+block.id +"][hours]" value=block.hours id="hours"+block_number)
        span :
        input(type="text", size="2", name="block["+block.id +"][minutes]" value=block.minutes id="minutes"+block_number)
        span :
        input(type="text", size="2", name="block["+block.id +"][seconds]" value=block.seconds id="seconds"+block_number)
        input(type='hidden', name="block["+block.id+"][id]", value=block.id)
    .row
      label neuer Startblock:
    .row
      input(type="text", size="7", name="block[0][color]" id="color0")
      input(type="text", size="20", name="block[0][name]" id="name0")
      span :
      input(type="text", size="2", name="block[0][hours]" id="hours0")
      span :
      input(type="text", size="2", name="block[0][minutes]" id="minutes0")
      span :
      input(type="text", size="2", name="block[0][seconds]" id="seconds0")
      input(type='hidden', name="block[0][id]", value="0")
    input(type='hidden', name='_csrf', value=_csrf)
    button(id = 'set_race_starttime', type='submit').button-primary.pace Startzeit eintragen


  h3 Ergebnisse importieren
  form(method="POST", action="after/import?_csrf="+csrf, enctype="multipart/form-data")
    .row
      input(type="file", name="displayImage")
    .row
      .eight.columns.padding
        button#upload-results.primary.button-primary.pace.u-full-width(type='submit') Ergebnisse importieren


