extends ../adminLayout.pug

block content
  - let new_block = blocks.length 
  h3 Startblocks:

  form#starttime(method='POST', action='after')
  each block,index in blocks
    .row
      label Startblock #{index+1}
    .row
      input(type="text", size="2", name="blocks[" + index +"][hours]" value=block.hours)
      span :
      input(type="text", size="2", name="blocks[" + index +"][minutes]" value=block.minutes)
      span :
      input(type="text", size="2", name="blocks[" + index +"][seconds]" value=block.seconds)
  .row
    label neuer Startblock #{new_block+1}
  .row
    input(type="text", size="2", name="blocks[" + new_blocks +"][hours]" )
    span :
    input(type="text", size="2", name="blocks[" + new_blocks +"][minutes]" )
    span :
    input(type="text", size="2", name="blocks[" + new_blocks +"][seconds]" )

  input(type='hidden', name='_csrf', value=_csrf)
  button(id = 'set_race_starttime', type='submit').button-primary.pace Startzeit eintragen


  h3 Ergebnisse importieren
  form(method="POST", action="after/import?_csrf="+csrf, enctype="multipart/form-data")
    .row
      input(type="file", name="displayImage")
    .row
      .eight.columns.padding
        button#upload-results.primary.button-primary.pace.u-full-width(type='submit') Ergebnisse importieren


