extends ../adminLayout.pug

block content

  h3 Coupon Codes im Umlauf
  table
    thead
      tr
        th ID
        th Code
        th Benutzt
    tbody#codebody
      each code in couponcodes
        tr(class=(code.used ? 'inactive' : ''))
          td=code.id
          td=code.code
          td=code.used ? 'Ja' : 'Nein'


  input(type='hidden', name='_csrf', value=_csrf)
  button#generate-code.primary.button-primary.pace(type='submit') Code generieren

  script(src='/javascript/searchAndSort.js')

  script(type='text/javascript').
    var generateCodeBtn = document.getElementById('generate-code');

    var csrf = '#{_csrf}';
    function httpCallAsync(theUrl, method, message, callback) {

      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function () {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
          callback(xmlHttp.responseText);
        }
      };
      xmlHttp.open(method, theUrl, true);
      xmlHttp.send(message);
    }

    generateCodeBtn.onclick = function () {

      httpCallAsync('/admin/couponcodes?_csrf=' + csrf, 'POST', '', function (result) {
        var couponcode = JSON.parse(result);

        var tr = document.createElement('tr');
        var td_ID = document.createElement('td');
        var td_code = document.createElement('td');
        var td_used = document.createElement('td');

        var text_ID = document.createTextNode(couponcode.id);
        var text_code = document.createTextNode(couponcode.code);
        var text_used = document.createTextNode('Nein');

        td_ID.appendChild(text_ID);
        td_code.appendChild(text_code);
        td_code.setAttribute('class','code');
        td_used.appendChild(text_used);

        tr.appendChild(td_ID);
        tr.appendChild(td_code);
        tr.appendChild(td_used);

        document.getElementById('codebody').appendChild(tr);
      });
    };