h1 Angaben ändern
form#editParticipantForm(method='POST', action=formAction)
  .row
    .six.columns.padding
      label(for='firstname') Vorname:
      input#firstname.u-full-width(type='text', name='firstname', required=true, value=participant.firstname)
    .six.columns.padding
      label(for='lastname') Nachname:
      input#lastname.u-full-width(type='text', name='lastname', required=true, value=participant.lastname)
  .row
    .twelve.columns.padding
      label(for='category') In welcher Ergebnisliste möchtest du erscheinen?
      select#category.u-full-width(name='category')
        option(value='m' selected=(participant.category == 'm')) m
        option(value='f' selected=(participant.category == 'f')) f
  .row
    .twelve.columns.padding
      label(for='birthyear') Geburtsjahr:
      input#birthyear.u-full-width(type='number', name='birthyear', required=true, value=participant.birthyear)
  .row
    .twelve.columns.padding
      label(for='email') Email:
      input#email.u-full-width(type='email', name='email', required=true, value=participant.email)
  .row
    .twelve.columns.padding
      label(for='team') Name des Teams:
      input#team.u-full-width(type='text', name='team', value=participant.team)
  .row
    .twelve.columns.padding
      label(for='visibility') Öffentlich sichtbar in der Teilnehmer*innenliste:
      select#visibility.u-full-width(name='visibility', required=true)
        option(value='yes', selected=(participant.visibility == 'yes')) Ja
        option(value='no', selected=(participant.visibility == 'no')) Nein

  .row
    .twelve.columns.padding
      label Zahlungsstatus:
      p#paymentStatus #{participant.has_payed ? 'Zahlung eingegangen' : 'Zahlung noch nicht eingegangen' }
    .twelve.columns.padding
      label Deine Startnummer:
      p#startNumber #{participant.start_number}

  input(type='hidden', name='participantid', value=participantid)
  input(type='hidden', name='_csrf', value=_csrf)

  button#submit.button-primary.u-full-width(type='submit') Änderung speichern
