extends ../layout

block content
  h2 Überprüfung der Zahlungseingänge
  form#payment-validation-form(method='POST', action='/payment_validation')
    label(for='payment-token') Token:
    input#payment-token(type='text', maxlength=7 , name='paymenttoken', required=true)
    br
    button(type='submit') Absenden

  if amount
    form#payment-validation-form(method='POST', action='/payment_validation/confirm')
      p Betrag für Token #{token}: #{amount} Euro (Name: #{name})
      input(type='hidden', name='participantid', value='#{id}')
      button(type='submit') Registrierung bestätigen

   if success_message
     p #{success_message}

  if error
    p #{error}