extends ../layout

block content
  h2 Überprüfung der Zahlungseingänge
  form#payment-validation-form(method='POST', action='/payment_validation')
    .row
      .six.columns
        label(for='payment-token') Token:
        input#payment-token.u-full-width(type='text', maxlength=7 , name='paymenttoken', required=true)
    .row
        button#submit-token.button-primary.u(type='submit') Absenden

  if amount
    form#payment-details(method='POST', action='/payment_validation/confirm')
      p#details Betrag für Token #{token}: #{amount} Euro (Name: #{name})
      input(type='hidden', name='paymenttoken', value='#{token}')
      input(type='hidden', name='amount', value='#{amount}')
      input(type='hidden', name='name', value='#{name}')
      input(type='hidden', name='participantid', value='#{participantid}')
      button#confirm-registration.button-primary(type='submit') Registrierung bestätigen

   if success_message
     .success
       p #{success_message}

  if error
    .error
      p #{error}