extends ../layout

block content
  h1 Angaben ändern
  form#editParticipantForm(method='POST', action='/editparticipant')
    .row
      .three.columns
        label(for='firstname') Vorname:
        input#firstname.u-full-width(type='text', name='firstname', required=true, value=participant.firstname)
      .three.columns
        label(for='lastname') Nachname:
        input#lastname.u-full-width(type='text', name='lastname', required=true, value=participant.lastname)
    .row
      .three.columns
        label(for='category') In welcher Ergebnisliste möchtest du erscheinen?
        select#category.u-full-width(name='category')
          option(value='m' selected=(participant.category=='m')) m
          option(value='f' selected=(participant.category=='f')) f
      .three.columns
        label(for='birthyear') Geburtsjahr:
        input#birthyear.u-full-width(type='number', name='birthyear', required=true, value=participant.birthyear)
    .row
      .four.columns
        label(for='email') Email:
        input#email.u-full-width(type='email', name='email', required=true, value=participant.email)
    .row
      .four.columns
        label(for='team') Name des Teams:
        input#team.u-full-width(type='text', name='team', value=participant.team)
     .row
         .six.columns
           label(for='visibility') Öffentlich sichtbar in der Teilnehmerliste:
           select#visibility.u-full-width(name='visibility', required=true)
             option(value='yes', selected=(participant.visibility=='yes')) Ja
             option(value='no', selected=(participant.visibility=='no')) Nein

    input(type='hidden', name='participantid', value='#{participantid}')

    button#submit.button-primary(type='submit') Änderung speichern
