extends ../layout

block content
    h1 Registrierte Teilnehmer
    if isAdmin
        table
            thead
                tr
                    th
                        form(method='POST', action='/participants')
                            input(type='hidden', name='participants', value='#{JSON.stringify(participants)}')
                            input(type='hidden', name='sortFunction', value='byFirstname')
                            button(type='submit') Vorname
                    th
                        form(method='POST', action='/participants')
                            input(type='hidden', name='participants', value='#{JSON.stringify(participants)}')
                            input(type='hidden', name='sortFunction', value='byLastname')
                            button(type='submit') Nachname
                    th
                        form(method='POST', action='/participants')
                            input(type='hidden', name='participants', value='#{JSON.stringify(participants)}')
                            input(type='hidden', name='sortFunction', value='byTeam')
                            button(type='submit') Team name
                    th
                        form(method='POST', action='/participants')
                            input(type='hidden', name='participants', value='#{JSON.stringify(participants)}')
                            input(type='hidden', name='sortFunction', value='byEmail')
                            button(type='submit') Email
                    th
                        form(method='POST', action='/participants')
                            input(type='hidden', name='participants', value='#{JSON.stringify(participants)}')
                            input(type='hidden', name='sortFunction', value='byGender')
                            button(type='submit') Geschlecht
                    th Geburtsjahr
                    th
                        form(method='POST', action='/participants')
                            input(type='hidden', name='participants', value='#{JSON.stringify(participants)}')
                            input(type='hidden', name='sortFunction', value='byPaymentstatus')
                            button(type='submit') Bezahlt
            tbody
                each p in participants
                    tr.participant-line
                        td=p.firstname
                        td=p.lastname
                        td=p.team
                        td=p.email
                        td=p.gender
                        td=p.birthyear
                        td=(p.has_payed ? 'ja' : 'nein')
    else
        ul
            each p in participants
                li.participant-line= p.firstname +' '+ p.lastname + (p.team ? ' (Team: '+p.team+' )' : '')
