extends ../layout

block content
  h1 Registrierte Teilnehmer
  if isAdmin
    table
      thead
        tr
          th Vorname
          th Nachname
          th Team name
          th Email
          th Kategorie
          th Geburtsjahr
          th Bezahlt
          th Betrag
          th Token
          th Anzahl T-shirts
          th T-shirt Größen
          th
          th
      tbody
        each p in participants
          tr.participant-line
            td=p.firstname
            td=p.lastname
            td=p.team
            td=p.email
            td=p.category
            td=p.birthyear
            td=(p.has_payed ? 'ja' : 'nein')
            td#amount=p.amount
            td=p.paymenttoken
            td#tshirt-amount=(p.tshirt ? p.tshirt.amount : 0)
            td
              if p.tshirt
                each t in p.tshirt.details
                  li=t.size + ' (' + t.model + ')'
            td
              form#payment-details(method='POST', action='/payment_validation/confirm')
                input(type='hidden', name='participantid', value='#{p.id}')
                input(type='hidden', name='participants', value='#{JSON.stringify(participants)}')
                button#confirm-registration.button-primary(type='submit') Registrierung bestätigen
            td
              a#edit.button(href='#{p.editUrl}') Bearbeiten
  else
    ul
      each p in participants
        li.participant-line= p.firstname +' '+ p.lastname + (p.team ? ' (Team: '+p.team+' )' : '')
