extends ../guestLayout.pug

block content
    .row
      form#resultForm(method='GET', action='/results')
        .row
          .four.columns.padding
            label(for='category') Damen/Herren
            select#category.u-full-width(name='category')
                option(value='all') Gesamt
                option(value='m') Herren
                option(value='f') Damen
          .four.columns.padding
            label(for='agegroup') Altersklassen
            select#agegroup.u-full-width(name='agegroup')
                option(value='all') Gesamt
                option(value='20-29') 20-29
                option(value='30-34') 30-34
                option(value='35-39') 35-39
                option(value='40-44') 40-44
                option(value='45-49') 45-49
                option(value='50-54') 50-54
                option(value='55-59') 55-59 
                option(value='60-64') 60-64
                option(value='65-69') 65-69
                option(value='70-74') 70-74
                option(value='75-79') 75-79
                option(value='80-120') 80-120
          .four.columns.padding
            button#submit.primary.button-primary.u-full-width.pace(type='submit') Filter

    .row
      table
        thead
          tr
            th Platz
            th Startnummer
            th Vorname
            th Nachname
            th Team name
            th Zeit
        tbody
          each p in list
            tr.participant-line
              td=p.place
              td=p.start_number
              td=p.firstname
              td=p.lastname
              td=p.team
              td=p.timestring
      script(src='/javascript/searchAndSort.js')

