extends ../layout

block content
  h2 Überprüfung der Zahlungseingänge
  form#payment-validation-form(method='POST', action='/paymentvalidation')
    input(type='hidden', name='_csrf', value=_csrf)
    .row
      .six.columns
        label(for='payment-token') Token:
        input#payment-token.u-full-width(type='text', name='paymenttoken', required=true)
    .row
        button#submit-token.button-primary.u(type='submit') Absenden

  if amount
    form#payment-details(method='POST', action='/paymentvalidation/confirm')
      p#details Betrag für Token #{token}: #{amount} Euro (Name: #{name})
      input(type='hidden', name='paymenttoken', value='#{token}')
      input(type='hidden', name='amount', value='#{amount}')
      input(type='hidden', name='name', value='#{name}')
      input(type='hidden', name='participantid', value='#{participantid}')
      input(type='hidden', name='_csrf', value=_csrf)
      button#confirm-registration.button-primary(type='submit') Registrierung bestätigen

  if error
    .error
      p #{error}
  
  if participants
    h2 Noch zu ueberpruefende Registrierungen
    ul#pending
     each p in participants
       li= p.firstname +' '+ p.lastname +' Token: '+p.paymenttoken
