h3 Hey #{name}!
  h5 Danke für deine Registrierung.
    if amount > 0
      |  Bitte überweise den Betrag von&nbsp;
      span.amount #{amount}
      |  Euro auf folgendes Konto:
      pre FC St. Pauli Marathon
        | #{bank.name}
        | IBAN #{bank.iban}
        | BIC  #{bank.bic}
        | Verwendungszweck: #{token}
      |  Sobald die Gebühr beglichen ist,
      |  wirst du in der Teilnehmer*innenliste hinzugefügt.
    else
      |  Du bist jetzt zu der Teilnehmer*innenliste hinzugefügt.
  h5 Und übrigens, deine Startnummer:&nbsp;
    span.startNumber #{startnr}

  h5 Du kannst deine persönlichen Angaben unter folgendem Link* ändern:&nbsp;
    a#editurl(href=editUrl) Angaben ändern
    div * Dieser Link gibt Einsicht in persönliche Daten und sollte nicht weitergegeben werden.

  if email == ''
    h5(style={color: 'red'})#no-email Du hast keine Email-Adresse angegeben. Bitte speichere den Link wirklich gut. 
    | Wir haben keine Moeglichkeit dich zu kontaktieren und der Link ist der einzige Weg
    | deine Daten zu bearbeiten.
     
