h3 Hey #{name}!
    h5 Danke f端r deine Registrierung.
        |  Bitte 端berweise den Betrag von&nbsp;
        span.amount #{amount}
        |  Euro auf folgendes Konto:
        pre #{bank.name}
            | IBAN #{bank.iban}
            | BIC  #{bank.bic}
            | Verwendungszweck: #{token}
        |  Sobald die Geb端hr beglichen ist,
        |  wirst du in der Teilnehmer*innenliste hinzugef端gt.
